@use "./../../variables.module.scss" as vars;

.pill {
  text-transform: uppercase;
  border-radius: var(--border-radius-sm);
  padding: var(--spacing-xs) var(--spacing-sm);
  background-color: var(--color-gray-pill-bg);
  display: inline-block;
  width: max-content;
  font-size: var(--font-size-xs);
  font-weight: normal;
  letter-spacing: 0.4px;
  margin-top: 10px;
}

.onTrack {
  background-color: var(--color-green-pill-bg);
  color: var(--color-green-pill-text);
}

.offTrack {
  background-color: var(--color-orange-pill-bg);
  color: var(--color-orange-pill-text);
}

.impact {
  text-align: center;
  width: 100%;
  word-spacing: 200px;
}

@media (min-width: vars.$breakpoint-md) {
  .impact {
    word-spacing: 0;
    width: auto;
  }
}
