@use "./../../variables.module.scss" as vars;

.cardWrapper {
  width: 100vw;
}

.innerWrapper {
  display: flex;
  padding: var(--spacing-lg);
  gap: var(--spacing-lg);
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-left: calc(var(--spacing-md) * -1);

  @media (min-width: vars.$breakpoint-lg) {
    flex-wrap: wrap;
  }
}
