@import "./../../variables.module.scss";

.drawer {
  background-color: #fff;
  padding: 25px;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  max-width: 30vw;
  width: 100%;
}
